@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 100px;
  height: 100px;
  @apply border-solid border-t-green-500 border-green-50 border-[6px];
  animation: spin 2s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes half-slide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
